html {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: horizontal;
}

.head {
  border-bottom: 1px solid seashell;
  height: 69px;
  opacity: 0.9;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.teacozy img {
  height: 50px;
}

header a {
  text-decoration: underline;
  color: seashell;
  padding-right: 30px;
}

.main {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.maintext {
  display: flex;
  background-color: black;
  width: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 130px;
  align-items: center;
  justify-content: center;
}
